<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Personen
    <small>Anzeigen</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Stammdaten</a></li>
    <li><%= link_to 'people', people_path, :class => 'active' %></li>
    <li class="active"><%= @person.name %></li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <% if notice %>
    <div class="alert alert-success alert-dismissable">
      <i class="fa fa-check"></i>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <b><%= notice %></b>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-danger alert-dismissable">
      <i class="fa fa-ban"></i>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <b><%= alert %></b>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-success">
        <div class="box-header">
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <%= form_with(model: @person, local: true) do |form| %>
            <div class="field">
                              <%= form.label :Lastname %>:
                <%= form.text_field :lastname, id: :person_lastname, class:"form-control", disabled:true %>
                              <%= form.label :Firstname %>:
                <%= form.text_field :firstname, id: :person_firstname, class:"form-control", disabled:true %>
                              <%= form.label :Email %>:
                <%= form.text_field :email, id: :person_email, class:"form-control", disabled:true %>
                              <%= form.label :Phone %>:
                <%= form.text_field :phone, id: :person_phone, class:"form-control", disabled:true %>
                              <%= form.label :Street %>:
                <%= form.text_field :street, id: :person_street, class:"form-control", disabled:true %>
                              <%= form.label :Plz %>:
                <%= form.text_field :PLZ, id: :person_PLZ, class:"form-control", disabled:true %>
                              <%= form.label :City %>:
                <%= form.text_field :city, id: :person_city, class:"form-control", disabled:true %>
                              <%= form.label :Persontype %>:
                <%= form.text_field :persontype, id: :person_persontype, class:"form-control", disabled:true %>
                          </div>
          <% end %>
        </div><!-- /.box-body -->
        <div class="box-footer">
          <%= link_to 'Bearbeiten', edit_person_path(@person), :class => 'btn btn-primary btn-flat btn-sm pull-right' %>
          <%= link_to 'Zurück zur Übersicht', people_path, :class => 'btn btn-default btn-flat btn-sm pull-left'%>
        </div>
      </div><!-- /.box -->
    </div>
  </div>

  <br>
</section><!-- /.content -->
